<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/home">Strona główna</a></li>
            <li><a href=" ">Zaloguj</a></li>
            <li><a href=" ">Zarejestruj</a></li>
        </ul>
    </div>
</nav>
<nav>
    <td>
        <h2 style="text-align: center">Witamy na stronie przychodni HEALTH CLINIC</h2>
    </td>
</nav>


</body>



</html>