<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/menu">Strona główna</a></li>
            <li><a href="/lista">Moje wizyty</a></li>
            <li><a href="/login?logout">Wyloguj</a></li>
        </ul>
    </div>
</nav>
<h5 class="text-right">Jesteś zalogowany jako:  <span th:text="${session.patientLogin}"></span></h5>
<h1 class="text-center">Umawianie wizyty </h1>
<h3 class="text-center">Wybierz lekarza </h3>

<form method="post" action="/doctor" th:action="@{/doctor}" th:object="${doctor}">
    <div class="container">

        <div>

            <label><i class="glyphicon glyphicon-user"></i> Lekarz</label>

            <select class="form-control" id="doctorList" name="doctor">
                <option th:each="dr : ${doctor}"
                        th:value="${dr.id}"
                        th:text="${dr.name+' ' + dr.lastName}">
                </option>
            </select>
        </div>
        <p></p>

        <h3 class="text-center">Wybierz datę </h3>

        <div>
            <div style="display: inline-block">
                <label for="data"><i class='glyphicon glyphicon-calendar'></i> Data</label>
                <input type="date" class="form-control" id="data" name="data" required="required"> </input>
            </div>
            <p></p>
        </div>

        <p>

            <input class="btn btn-primary" type="submit" value="Dalej"/>
            <a href="/specialization"><input class="btn btn-default" type="button"  value="Wstecz"/></a>
            <input class="btn btn-default" type="reset" value="Anuluj"/>
        </p>

    </div>
</form>
</body>
</html>

