<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>


</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/menu">Strona główna</a></li>
            <li><a href=" ">Zaloguj</a></li>
            <li class="active"><a href="/order">Umów wizytę</a></li>
            <li><a href=" ">Odwołaj wizytę</a></li>
            <li><a href=" ">Sprawdź wizyty</a></li>
        </ul>
    </div>
</nav>

<h1 class="text-center">Dostępne godziny </h1>

<form method="post" action="/order" th:action="@{/order}" th:object="${doctor}">
    <div class="container">

        <div>


            <div style="display: inline-block">
            <label><i class=" glyphicon glyphicon-time"></i> Godzina</label>
            <select class="form-control" th:name="godzina">

            </select>

            </div>


            <p></p>

        </div>
        <p>
            <input class="btn btn-primary" type="submit" value="Zapisz"/>
            <input class="btn btn-default" type="reset" value="Anuluj"/>
        </p>

    </div>
</form>
</body>
</html>
