<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>


</head>
<body>
<th:block th:id="header" th:include="_menus :: title-menu" />
<h1 class="text-center">Umawianie wizyty </h1>
<h3 class="text-center">Dostępne godziny </h3>

<form method="post" action="/hour" th:action="@{/hour}" th:object="${hours}" >
    <div class="container">
        <div>

            <div style="display: inline-block">
            <label><i class=" glyphicon glyphicon-time"></i> Godzina</label>
            <select class="form-control" id="hours" th:name="hour">
                <option th:each="hr : ${hour}"
                        th:value="${hr}"
                        th:text="${hr}">
                </option>
            </select>
            </div>
            <p></p>
        </div>
        <p>
            <input class="btn btn-primary" type="submit" value="Zapisz"/>
            <input class="btn btn-default" type="reset" value="Anuluj"/>
            <input class="btn btn-default" type="button" onclick="window.history.back()" value="Wstecz"/>
        </p>
    </div>
</form>
</body>
</html>
