<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

</head>
<body>
<th:block th:id="header" th:include="_menus :: title-menu" />

<div th:if="${deleted}" class="alert alert-success">

    <center > Wizyta została odwołana!</center>
</div>
<h1 class="text-center">Lista Umówionych Wizyt</h1>

<form method="post" action="/lista" th:action="@{/lista}" th:object="${visit}">

<div class="container">
    <table class="table table-bordered table-responsive-md">


        <thead>

        <tr>


            <td>Specjalizacja</td>
            <td>Lekarz</td>
            <td>Dzień</td>
            <td>Godzina</td>
            <td>Odwołaj wizyte</td>


        </tr>

        </thead>
        <tbody>

        <tr th:each="visit : ${visits}">
            <td th:text="${visit.specializacja}"></td>
            <td th:text="${visit.name+' ' +visit.lastname}"></td>
            <td th:text="${visit.dateTime}"></td>
            <td th:text="${visit.hoursVisit}"></td>
            <td> <a class="bg-danger" th:href="@{/odwolaj(id=${visit.id})}">Usuń</a></td>

        </tr>
        </tbody>
    </table>

</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</form>
</body>
</html>