<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css"/>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Menu</a>
        </div>
        <ul class="nav navbar-nav">

            <li><a href="/menu">Strona główna</a></li>
            <li><a href="/login?logout">Wyloguj</a></li>
            <li><a href="umow">Umów wizytę </a></li>
            <li class="active"><a href="/odwolaj">Odwołaj wizytę </a></li>
            <li><a href="/lista">Sprawdź wizyty </a></li>



        </ul>
    </div>
</nav>


<h1 class="text-center">Twoja wizyta którą chcesz usunąć</h1>
<div class="container">
    <table class="table table-bordered table-responsive-md" >


        <thead>

        <tr>

            <td>Specjalizacja</td>
            <td>Lekarz</td>
            <td>Dzień</td>
            <td>Godzina</td>


        </tr>

        </thead>
        <tbody>



        <tr>
            <td th:text="${visit.specializacja}"></td>
            <td th:text="${visit.name+' ' +visit.lastname}"></td>
            <td th:text="${visit.dateTime}"></td>
            <td th:text="${visit.hoursVisit}"></td>
        </tr>
        </tbody>
    </table>
    <p>Jesli nie chcesz usunać wizyte naciśnij przycisk Anuluj</p>
    <button type="button" class="btn btn-info" onclick="window.location='/lista'">Anuluj</button>
    <p>Jesli chcesz usunać wizyte naciśnij przycisk Usuń</p>
    <form name="deleteform" th:action="@{/delete}" th:method="DELETE" >


        <input type="hidden" th:name="id_visit" th:value="${visit.id}"/>
            <button type="submit" class="btn btn-info">Usuń</button>

    </form>





        </div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>