<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" media="screen"/>


</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Menu</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/menu">Strona główna</a></li>
                <li><a href="/login?logout">Wyloguj</a></li>
                <li><a href="/specialization">Umów wizytę </a></li>
                <li><a href="/lista">Moje wizyty </a></li>
                <li class="active"><a href="/summary_visit">Wizyta </a></li>

            </ul>
        </div>
    </nav>
    <h5 class="text-right">Jesteś zalogowany jako:  <span th:text="${session.patientLogin}"></span></h5>

    <div class="alert alert-success">
        <center> Wizyta została umówiona!</center>
    </div>
    <!--<div class="alert alert-success"/> Wizyta została umówiona! </div>-->


    <div>

        <div class="container">
            <table class="table table-hover ">
                <thead>

                <tr>
                    <th>Specjalizacja</th>
                    <th>Lekarz</th>
                    <th>Dzień</th>
                    <th>Godzina</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th th:text="${session.specializationName}"></th>
                    <th th:text="${session.doctor.getName()+' '+session.doctor.getLastName()}"></th>
                    <th th:text="${session.visitData}"></th>
                    <th th:text="${session.hour}"></th>
                </tr>
                </tbody>

            </table>

        </div>

    </div>
</body>
</html>

