<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <title>Strona testowa - lista pacjentów</title>
</head>
<body>
<h1>Strona testowa - lista pacjentów</h1>


<table class="table table-striped">
    <thead>
        <tr>
            <th>l.p.</th>
            <th>id</th>
            <th>login</th>
            <th>nazwisko</th>
            <th>imię</th>
            <th>pesel</th>
            <th>hasło</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="count,iter : ${counts}">
            <td th:text="${iter.index +1}"></td>
            <td th:text="${count.id}"></td>
            <td th:text="${count.login}"></td>
            <td th:text="${count.lastName}"></td>
            <td th:text="${count.firstName}"></td>
            <td th:text="${count.pesel}"></td>
            <td th:text="${count.password}"></td>
        </tr>
    </tbody>
</table>


</body>
</html>