<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Strona testowa - znajdowanie pacjenta</title>
</head>
<body>

<h1 class="text-center">Strona testowa - znajdowanie pacjenta</h1>
<form method="post" action="/test_findp" th:action="@{/test_findp}" >
    <table>
        <tbody>
            <tr>
                <td>Podaj login (cały, nie jego fragment)</td>
                <td><input type="text" name="login" autofocus="true"/></td>
            </tr>
        </tbody>
    </table>
    <br /><button type="submit">ZATWIERDŹ</button>
    <br /><p th:if="${done}" th:text="${result}"></p>
</form>

</body>
</html>